.nav-pills .nav-link.active {
  background-color: #8c7dff;
  border-radius: "30px";
}

.nav-link {
  text-align: left;
}

.design1 {
  margin-top: 50px;
}

body {
  background-color: #b4aaff;
}

button {
  margin: 10px 0;
}

.homecard {
  border-radius: 15px;
  border: none;
}
